<!doctype html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
    <meta charset="UTF-8" />
    <title>时尚酒店服务中心</title>
    <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if IE 6]>
    <script src="js/belatedPNG.js"></script>
    <script>
        DD_belatedPNG.fix('*');
    </script>
    <![endif]-->
    <script th:src="@{/js/jquery-1.4.min.js}" type="text/javascript" charset="utf-8"></script>
    <script th:src="@{/js/leftmenu.js}" type="text/javascript" charset="utf-8"></script>
    <script th:src="@{/js/loopedslider.js}" type="text/javascript" charset="utf-8"></script>



    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
    <script type="text/javascript" charset="utf-8">
        $(function(){
            $('#slider').loopedSlider({
                autoStart: 6000,
                restart: 5000
            });

        });


    </script>
</head>

<body>
<div id="bodywrap">
    <section id="pagetop" th:insert="foreign/common :: #navHead">
        <!--<p id="siteinfo">-->
        <!--Put your Caption of Phone Number // +123 456789-->
        <!--</p>-->

    </section>
    <header id="pageheader">
        <h1>
            时尚<span>酒店</span>
        </h1>
        <a th:href="@{/goin}"><button style="margin-top: 53px; margin-left: 450px" type="button" class="btn btn-success btn-xs">办理入住</button></a>
    </header>
    <div id="contents">
        <section id="main">
            <!--			<section id="normalheader">-->

            <!--			</section>-->
            <table class="table table-striped">
                <thead>
                <tr>
                    <!--					<th scope="col">报名日期</th>-->
                    <th scope="col">预约时间</th>
                    <th scope="col">入住时间</th>
                    <th scope="col">退房时间</th>
                    <th scope="col">姓名</th>
                    <th scope="col">房间</th>
                    <th scope="col">状态</th>
                    <th scope="col">操作</th>

                </tr>
                </thead>
                <tbody>
                <tr th:each="enroll:${enrollList}">
                    <td th:text="${#dates.format(enroll.enrollDate,'yyyy年MM月dd日HH:mm:ss')}"></td>
                    <td th:text="${#dates.format(enroll.inDate,'yyyy年MM月dd日HH:mm:ss')}"></td>
                    <td th:text="${#dates.format(enroll.outDate,'yyyy年MM月dd日HH:mm:ss')}"></td>
                    <td th:text="${enroll.realName}"></td>
                    <td><a th:href="@{/event/view/}+${enroll.temId}"  th:text="${enroll.title}"></a></td>
                    <td th:if="${enroll.state==0}" th:text="已预约" style="color: green"></td>
                    <td th:if="${enroll.state==1}" th:text="已入住" style="color: orange"></td>
                    <td th:if="${enroll.state==2}" th:text="已退房" style="color: red"></td>
                    <td><a th:href="@{/admin/enroll/success/}+${enroll.id}"><button th:if="${enroll.state==0}" type="button" class="btn btn-success btn-xs">入住</button></a><a th:href="@{/admin/enroll/refuse/}+${enroll.id}"><button th:if="${enroll.state==1}" type="button" class="btn btn-danger btn-xs">退房</button></a><button th:if="${enroll.state==2}" type="button" class="btn btn-danger btn-xs" disabled=true >已退房</button></td>
                </tr>
                <!--				<tr>-->
                <!--					<th scope="row">2</th>-->
                <!--					<td>Jacob</td>-->
                <!--					<td>Thornton</td>-->
                <!--					<td>@fat</td>-->
                <!--				</tr>-->
                <!--				<tr>-->
                <!--					<th scope="row">3</th>-->
                <!--					<td colspan="2">Larry the Bird</td>-->
                <!--					<td>@twitter</td>-->
                <!--				</tr>-->
                </tbody>
            </table>
            <p th:if="${#lists.isEmpty(enrollList)}" style="font-size: 15px;text-align: center">这里空空如也~~</p>

            <div id="leftcontainer">

                <div class="clear"></div>
            </div>
        </section>
        <section id="sidebar" style="float: right">
            <div id="sidebarwrap" th:insert="admin/common :: #leftNav" >



            </div>
        </section>



        <div class="clear"></div>
    </div>

</div>
<!--<footer id="pagefooter">-->
<!--	<div id="footerwrap" th:insert="foreign/common :: #copyRightFoot">-->

<!--	</div>-->
<!--</footer>-->
</body>
</html>
