<!doctype html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>时尚酒店服务中心</title>
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
    <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if IE 6]>
    <script src="js/belatedPNG.js"></script>
    <script>
        DD_belatedPNG.fix('*');
    </script>
    <![endif]-->
    <script th:src="@{/js/jquery-1.4.min.js}" type="text/javascript" charset="utf-8"></script>
    <script th:src="@{/js/leftmenu.js}" type="text/javascript" charset="utf-8"></script>
    <script th:src="@{/js/loopedslider.js}" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" charset="utf-8">
        $(function(){
            $('#slider').loopedSlider({
                autoStart: 6000,
                restart: 5000
            });

        });
    </script>
</head>

<body>
<div id="bodywrap">
    <section id="pagetop" th:insert="foreign/common :: #navHead">
        <!--<p id="siteinfo">-->
        <!--Put your Caption of Phone Number // +123 456789-->
        <!--</p>-->

    </section>
    <header id="pageheader">
        <h1>
            时尚<span>酒店</span>
        </h1>
        <!--<div id="search">-->

        <!--<form action="#">-->

        <!--<div class="searchfield">-->


        <!--<input type="text" name="search" id="s">-->

        <!--</div>-->
        <!--<div class="searchbtn">-->
        <!--<input type="image" src="images/searchbtn.png" alt="search">-->
        <!--</div>-->

        <!--</form>-->

        <!--</div>-->

        <script type="text/javascript">
            function beforeSubmit(form){
                // 定义邮箱正则
                var reg=/^\w+([-+.]\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$/;
                if(form.mail.value==''){
                    alert('邮箱不能为空！');
                    form.username.focus();
                    return false;
                }
                else if (form.mail.value.search(reg) == -1){
                    alert("邮箱格式不正确！");
                    form.username.focus();
                    return false;
                }
                else if(form.realName.value==''){
                    alert('姓名不能为空！');
                    form.realName.focus();
                    return false;
                }
                else if(form.phone.value==''){
                    alert('手机号码不能为空！');
                    form.phone.focus();
                    return false;
                }
                else if(form.endTime.value==''){
                    alert('入住结束时间不能为空！');
                    form.endTime.focus();
                    return false;
                }
                else if(form.startTime.value==''){
                    alert('入住开始时间不能为空！');
                    form.startTime.focus();
                    return false;
                }
                else if(form.identifyNO.value==''){
                    alert('身份证号码不能为空！');
                    form.identifyNO.focus();
                    return false;
                }
                else{
                    alert("预定成功！");
                }
                return true;
            }



        </script>

        <script>
            function calculatePrice() {
                // 获取日期输入框的值
                var startDate = document.getElementById('startTime').value;
                var endDate = document.getElementById('endTime').value;

                // 校验开始日期
                var today = new Date();
                var selectedDate = new Date(startDate);
                today.setHours(0, 0, 0, 0); // 将时分秒重置为0
                selectedDate.setHours(0, 0, 0, 0); // 将时分秒重置为0

                if ((startDate && endDate && startDate > endDate) || selectedDate < today){
                    alert("日期输入错误，请重新输入")
                    document.getElementById('startTime').value = '';
                    document.getElementById('endTime').value = '';
                    return;
                }

                // 只有当两个日期输入框都有值时才进行计算
                if (startDate && endDate && startDate <= endDate) {
                    // 转换日期字符串为 Date 对象
                    var start = new Date(startDate);
                    var end = new Date(endDate);

                    // 计算日期差
                    var timeDiff = Math.abs(end.getTime() - start.getTime());
                    var diffDays = Math.ceil(timeDiff / (1000 * 3600 * 24));

                    var roomPrice = [[${event.eventTime}]];
                    // 计算总价
                    var totalPrice = diffDays * roomPrice;

                    // 显示总价
                    document.getElementById('total-price').innerHTML = totalPrice.toFixed(2);
                }
            }
        </script>

    </header>
    <div id="contents">
        <section id="main">
            <div id="leftcontainer">
                <section id="normalheader" class="header2">

                </section>
                <h2>房间预订</h2>

                <article class="post">

                    <form th:action="@{/sendMail}" th:method="post" class="form" onSubmit="return beforeSubmit(this);">

                        <p style="font-size: 20px">
                            您要预订的房间：<strong th:text="${event.title}"></strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            价格：<strong th:text="${event.eventTime}"></strong>/晚
                            </p>
                        <br>   <br>

                        <p><input hidden="hidden" th:value="${event.eventId}" name="eventId" id="eventId"></p>

                        <p class="textfield">
                            <label for="realName">
                                <small>您的真实姓名</small>
                            </label>
                            <input name="realName" id="realName" value="" size="22" tabindex="1" type="text">

                        </p>
                        <p class="textfield">
                            <label for="mail">
                                <small>您的邮箱 (我们会根据邮箱回复您)</small>
                            </label>
                            <input name="mail" id="mail" value="" size="22" tabindex="2" type="text">

                        </p>
                        <p class="textfield">
                            <label for="phone">
                                <small>您的手机号码</small>
                            </label>
                            <input name="phone" id="phone" value="" size="22" tabindex="3" type="text">

                        </p>
                        <p class="textfield">
                            <label for="identifyNO">
                                <small>您的身份证号码（请如实填写）</small>
                            </label>
                            <input name="identifyNO" id="identifyNO" value="" size="22" tabindex="4" type="text">

                        </p>
                        <p class="textfield">
                            <label for="mail">
                                <small>预计入住时间：</small>
                            </label>
                            <input name="startTime" id="startTime" value="" size="22" tabindex="5" type="date" onchange="calculatePrice()" required>

                        </p>

                        <p class="textfield">
                            <label for="mail">
                                <small>预计退房时间</small>
                            </label>
                            <input name="endTime" id="endTime" value="" size="22" tabindex="6" type="date" onchange="calculatePrice()" required>

                        </p>
<!--                        <p>-->
<!--                            <small><strong>正文:</strong> 提出你的意见或建议......</small>-->
<!--                        </p>-->
<!--                        <p class="text-area">-->
<!--                            <textarea name="comment" id="comment" cols="50" rows="10" tabindex="4"></textarea>-->
<!--                        </p>-->
                        <p>
                            <h2>总价: <span id="total-price"></span></h2>
                            <input name="submit" id="submit" tabindex="7" type="submit" style="background: #31c631;color: white;border-radius: 10px;width: 60px;height: 35px;border: none">

                        </p>
                        <div class="clear"></div>
                    </form>

                    <!--Important--><div class="clear"></div>
                </article>
            </div>
        </section>
        <section id="sidebar">
            <div id="sidebarwrap" th:insert="foreign/common :: #commonRight">



            </div>
        </section>



        <div class="clear"></div>
    </div>

</div>
<footer id="pagefooter">
    <div id="footerwrap" th:insert="foreign/common :: #copyRightFoot">

    </div>
</footer>
</body>
</html>
