<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<div id="navHead">
    <nav id="sitenav">
        <ul>
            <li><a th:href="@{/index}">主页</a></li>
            <li><a th:href="@{/toEvent}">爆款房间</a></li>
            <li><a th:href="@{/lovelist/toLoveList}">员工榜</a></li>
            <li><a th:href="@{/notice/toNoticeList}">酒店公告</a></li>
            <li><a th:href="@{/user/admin/myInfo}">个人中心</a></li>
            <li><a th:href="@{/user/chat}">联系客服</a></li>
            <li th:if="${session.user?.username}==null"><a th:href="@{/toLogin}">登录</a></li>
            <li th:if="${session.user?.username}!=null" th:text="欢迎+${session.user?.username}+登录时尚酒店服务中心" style="color: white;line-height: 30px;"></li>



        </ul>

    </nav>
</div>

<div id="commonRight">
    <h2>About 时尚酒店</h2>
    <p>欢迎来到时尚酒店！我们致力于为每一位客人提供舒适、时尚、优质的住宿体验。酒店位于市中心繁华地段，交通便利，距离商业区、文化区、娱乐区等多个热门景点仅数分钟步行路程。酒店客房宽敞明亮，配备了豪华的床上用品和高品质的洗浴用品，为您打造一个舒适的私人空间。我们的前台团队将为您提供贴心周到的服务，以确保您在时尚酒店拥有一次愉快、难忘的住宿体验。无论是商务出行还是休闲旅行，时尚酒店都是您的理想选择。</p>

    <h2>房间类别</h2>
    <ul id="eventTypeList">

        <!--	<li><a href="#">Web Design</a>(4)</li>-->
        <!--	<li><a href="#">Graphics Design</a>(8)</li>-->
        <!--	<li><a href="#">Computers</a>(12)</li>-->
        <!--	<li><a href="#">Typography</a>(3)</li>-->
        <!--	<li><a href="#">Photogrphy</a>(4)</li>-->
        <!--	<li><a href="#">Mathematics</a>(5)</li>-->
        <!--	<li><a href="#">General News</a>(24)</li>-->
        <!--	<li><a href="#">Music and Entertainment</a>(1)</li>-->


    </ul>
<!--    <h2>最新房间</h2>-->

<!--    <ul id="dateList">-->

        <!--	<li><a href="#">Web Design</a></li>-->
        <!--	<li><a href="#">Graphics Design</a></li>-->
        <!--	<li><a href="#">Computers</a></li>-->
        <!--	<li><a href="#">Typography</a></li>-->
        <!--	<li><a href="#">Photogrphy</a></li>-->
        <!--	<li><a href="#">Mathematics</a></li>-->
        <!--	<li><a href="#">General News</a></li>-->
        <!--	<li><a href="#">Music and Entertainment</a></li>-->


<!--    </ul>-->



</div>

<div id="copyRightFoot">
    <div class="copyright">
         &copy; 2023 Welcome To FASHION HOTEL
    </div>
<!--    <div class="credit">-->
<!--        <a href="http://www.moobnn.com/" title="网站模板" target="_blank">网站模板</a> by CSSHeaven.org </div>-->

<!--</div>-->
</div>>
</body>
</html>