<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.volunteers.dao.EnrollMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.volunteers.entity.Enroll">
        <id column="id" property="id" />
        <result column="eventId" property="eventId" />
        <result column="enrollDate" property="enrollDate" />
        <result column="username" property="username" />
        <result column="realName" property="realName" />
        <result column="email" property="email" />
        <result column="identifyNO" property="identifyNO" />
        <result column="phone" property="phone" />
        <result column="state" property="state" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, eventId, enrollDate, username, realName, email, identifyNO, phone, state
    </sql>

    <select id="findEnrollByName" resultType="com.volunteers.entity.Enroll">
        SELECT t_enroll.*,t_event.eventId temId,   t_event.title
        FROM t_event, t_enroll
        WHERE t_event.eventId=t_enroll.eventId AND t_enroll.username LIKE #{username}
        ORDER BY t_enroll.`enrollDate` DESC
    </select>

    <select id="queryList" resultType="com.volunteers.entity.Enroll">
        SELECT t_enroll.*,t_event.eventId temId,   t_event.title
        FROM t_event, t_enroll
        WHERE t_event.eventId=t_enroll.eventId AND t_enroll.`state` = 0
        ORDER BY t_enroll.`enrollDate` DESC
    </select>


</mapper>
