<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.volunteers.dao.NoticeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.volunteers.entity.Notice">
        <id column="id" property="id" />
        <result column="summary" property="summary" />
        <result column="title" property="title" />
        <result column="content" property="content" />
        <result column="releaseDate" property="releaseDate" />
        <result column="img" property="img" />

    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, summary, title, content, releaseDate, img
    </sql>

</mapper>
